<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="http://www.sjsu.edu/communications/SJSU_Facebook_Instagram_Avatar_Blue.jpg" type="image/x-icon" />
    <title>College Dashboard</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./bower_components/materialize/dist/css/materialize.min.css" rel="stylesheet" medai="screen,projection">
    <link href="./css/app.css" rel="stylesheet" medai="screen,projection">
  </head>
  <body>
    <div class="wrapper" id="content">
      <!-- <div class="navbar-fixed">
        <nav id="navbar">
        </nav>
      </div>
      <div id="root"></div> -->
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="./bower_components/materialize/dist/js/materialize.min.js" type="text/javascript"></script>
    <script src="https://fb.me/react-15.1.0.js"></script>
    <script src="https://fb.me/react-dom-15.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>
    <!-- Loading React app -->
    <script src="./js/app.js" type="text/babel"></script>
  </body>
</html>
